* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(253, 224, 240);
}

h1{
    color: rgb(254, 123, 191);
}

label{
    color: rgb(0, 0, 0);
    display: block;
    font-size: 20px;
    padding: 15px;
    background: rgb(255, 91, 143);
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.div1 {
    box-shadow: 0px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    background: rgb(255, 91, 143);
    width: 420px;
    height: 320px;
  }

button{
    border: none;
    font-size: 18px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(253, 224, 240);
    color: black;
    cursor: pointer;

}